<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/index.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Add new Product</title>
</head>
<body>
<h1>Create new product</h1>
<form th:action="@{/products}"
      th:method="POST"
      th:object="${product}"
      autocomplete="off">
    <label> Название продукта  </label>
    <input type="text"
           name="title"
           th:field="${product.title}"
           placeholder="введите имя Продукта" />

    <label> цена  </label>
    <input type="text"
           name="price"
           th:field="${product.price}"
           placeholder="Введите цену" />
    <label> Описание </label>
    <input type="text"
           name="description"
           th:field="${product.description}"
           placeholder="Введите описание" />

    <button type="submit"> Add new product </button>


</form>
</body>
</html>