<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/css/index.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Hello Order</h1>
<table>
    <tbody>
        <tr th:each="order: ${orders}">
            <th th:text ="${order.orderID}"></th>
            <td th:text = "${order.userID}"></td>
            <td th:text = "${order.productID}"></td>
            <td th:text = "${order.quantity}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>