<!DOCTYPE html>
<html lang="en">
<link th:href="@{/css/index.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>products</h1>
<table>
    <tbody>
    <tr th:each = "product: ${product}">
        <th th:text = "${product.id}"></th>
        <td th:text = "${product.title}"></td>
        <td th:text = "${product.price}"></td>
        <td th:text = "${product.description}"></td>
        <td>
            <form th:method="GET"
            th:action="@{/products/edit/{id}(id=${product.id})}">
                <button type="submit"
                        name="edit-product-btn"
                        >Edit
                </button>
            </form>
        </td>
        <td><a th:href="@{/products/edit/{id}(id=${product.id})}"> Edit</a> </td>
        <td>
            <form th:method="DELETE"
                  th:action="@{/products/{id}(id=${product.id})}">
                <button type="submit"
                        name="delete-product-btn"
                        th:value ="${product.id}"
                >Delete
                </button>
            </form>

        </td>
    </tr>
    </tbody>
</table>
    <div>
        <a th:href="@{/products/new}">Add new Product</a>
    </div>
</body>
</html>